h1{
    background-color: rgba(60, 212, 60, 0.973);
}
.titulo{
    font-size: 50px;color:white;background:rgb(228, 164, 46) ;text-align: center;
}
.texto imc{
    font-size: 70px ;
    text-align: center;
}

